<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <h1>Editar</h1>

    <form action="/edit/{{ post.id }}" method="post">

        <input type="text" name="titulo" value="{{ post.titulo }}" required>

        <input type="text" name="resumo" value="{{ post.resumo }}" required>

        <input type="text" name="conteudo" value="{{ post.conteudo }}" required>

        <input type="text" name="autor" value="{{ post.autor }}" required>

        <button type="submit">Salvar</button>

</form>
</body>
</html>